{% extends "base.html" %}

{% block content %}
    <img src="static/coding-laptop.png" alt="" class="coding-laptop">
    <img src="static/tu-varna.png" alt="" class="tu-varna-logo">
    <img src="static/softuni-logo.png" alt="" class="softuni-logo">
    <div>
        <p class="about-me-text"> Hello! My name is <b>Ivaylo</b>, and I am <b>20</b> years old. <br> <br>
            I started studying computer science in high school and graduated with <b>3.6</b> GPA. <br><br> Currently,
            I am studying Software and Internet Technologies at <b>Technical University of Varna</b>. <br> I am also enrolled in a
            Python course, which is hosted by <b>Software University</b>.<br><br>
            Needless to say, I absolutely love coding and in my free time I work on personal projects.
            I also like riding my bike and chilling out with friends.
        </p>
    </div>
{% endblock %}