{% extends "base.html" %}

{% block content %}
    <img src="static/python.png" alt="" class="python-logo">
    <img src="static/csharp.png" alt="" class="csharp-logo">
    <img src="static/cpp.png" alt="" class="cpp-logo">
    <img src="static/java.png" alt="" class="java-logo">
    <img src="static/postresql.png" alt="" class="postresql-logo">
    <div>
        <p class="skills-text"> Welcome to the <b>Skills</b> page! <br> <br>
            On the left side, you can see all the programming languages and technologies I have experience with. <br><br>
            I started my coding career in high school where I studied <b>C#</b>, <b>MySQL</b> and some basic <b>HTML</b> & <b>CSS</b>. <br><br> After graduating I studied <b>C++</b>
            in university and <b>Python</b> and <b>PostreSQL</b> in SoftUni. I already have some knowledge in <b>Java</b> and in the second
            year of university I will expand it with some OOP classes. <br><br> Currently, my main and favourite language is Python.
        </p>
    </div>
{% endblock %}